__pycache__
secrets.py
Jason Chou Final Project Proposal.docx
data_checkpoint.docx
final_project_demo.mov
final_project_demo.mp4
final_project_documentation.docx
final_project_documentation.pdf
final_project_voice_over.m4a
Screen Shot 2020-04-17 at 9.06.57 PM.png
Screen Shot 2020-04-17 at 9.07.08 PM.png
Screen Shot 2020-04-18 at 8.18.08 PM.png
Screen Shot 2020-04-18 at 8.23.49 PM.png
Screen Shot 2020-04-18 at 8.23.56 PM.png